* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v14_2 {
  width: 100%;
  height: 2220px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v37_153 {
  width: 100%;
  height: 469px;
  background: rgba(216,240,245,1);
  opacity: 1;
  position: absolute;
  top: 1751px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v34_42 {
  width: 100%;
  height: 400px;
  background: url("../images/v34_42.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 1351px;
  left: 0px;
  overflow: hidden;
}
.v34_43 {
  width: 300px;
  height: 400px;
  background: rgba(216,240,245,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1548px;
  overflow: hidden;
}
.v34_44 {
  width: 314px;
  height: 400px;
  background: url("../images/v34_44.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 10px 10px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1234px;
  overflow: hidden;
}
.v34_46 {
  width: 294px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 10px;
  left: 10px;
  font-family: Playfair Display;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v34_47 {
  width: 311px;
  height: 400px;
  background: url("../images/v34_47.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 10px 10px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 923px;
  overflow: hidden;
}
.v34_49 {
  width: 291px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 10px;
  left: 10px;
  font-family: Playfair Display;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v34_50 {
  width: 311px;
  height: 400px;
  background: url("../images/v34_50.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 10px 10px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 612px;
  overflow: hidden;
}
.v34_52 {
  width: 291px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 10px;
  left: 10px;
  font-family: Playfair Display;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v34_53 {
  width: 311px;
  height: 400px;
  background: url("../images/v34_53.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 10px 10px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 301px;
  overflow: hidden;
}
.v35_78 {
  width: 291px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 10px;
  left: 10px;
  font-family: Playfair Display;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v34_56 {
  width: 300px;
  height: 400px;
  background: rgba(216,240,245,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1px;
  overflow: hidden;
}
.v23_108 {
  width: 100%;
  height: 387px;
  background: url("../images/v23_108.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 964px;
  left: 1px;
  overflow: hidden;
}
.v34_38 {
  width: 301px;
  height: 387px;
  background: rgba(216,240,245,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1547px;
  overflow: hidden;
}
.v23_110 {
  width: 313px;
  height: 387px;
  background: url("../images/v23_110.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1234px;
  overflow: hidden;
}
.v34_29 {
  width: 657px;
  height: 438px;
  background: url("../images/v34_29.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.30000001192092896;
  position: absolute;
  top: 1px;
  left: 345px;
  overflow: hidden;
}
.v24_124 {
  width: 311px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 156px;
  left: 0px;
  font-family: Playfair Display;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: center;
}
.v23_114 {
  width: 311px;
  height: 387px;
  background: url("../images/v23_114.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 923px;
  overflow: hidden;
}
.v33_28 {
  width: 389px;
  height: 584px;
  background: url("../images/v33_28.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.30000001192092896;
  position: absolute;
  top: 197px;
  left: 78px;
  overflow: hidden;
}
.v24_126 {
  width: 311px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 159px;
  left: 0px;
  font-family: Playfair Display;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: center;
}
.v23_109 {
  width: 311px;
  height: 387px;
  background: url("../images/v23_109.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 612px;
  overflow: hidden;
}
.v24_117 {
  width: 100%;
  height: 479px;
  background: url("../images/v24_117.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.25;
  position: absolute;
  top: 62px;
  left: 358px;
  overflow: hidden;
}
.v24_122 {
  width: 311px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 156px;
  left: 0px;
  font-family: Playfair Display;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: center;
}
.v23_112 {
  width: 312px;
  height: 387px;
  background: url("../images/v23_112.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 300px;
  overflow: hidden;
}
.v24_119 {
  width: 100%;
  height: 511px;
  background: url("../images/v24_119.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.15000000596046448;
  position: absolute;
  top: 68px;
  left: 79px;
  overflow: hidden;
}
.v24_121 {
  width: 311px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 156px;
  left: 0px;
  font-family: Playfair Display;
  font-weight: Regular;
  font-size: 23px;
  opacity: 1;
  text-align: center;
}
.v34_40 {
  width: 299px;
  height: 387px;
  background: rgba(216,240,245,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1px;
  overflow: hidden;
}
.v20_87 {
  width: 100%;
  height: 323px;
  background: rgba(216,240,245,1);
  opacity: 1;
  position: absolute;
  top: 641px;
  left: 4px;
  overflow: hidden;
}
.v34_36 {
  width: 300px;
  height: 323px;
  background: url("../images/v34_36.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1544px;
  overflow: hidden;
}
.v30_25 {
  width: 485px;
  height: 323px;
  background: url("../images/v30_25.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1059px;
  overflow: hidden;
}
.v31_26 {
  width: 867px;
  height: 323px;
  background: rgba(216,240,245,1);
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 296px;
  overflow: hidden;
}
.v19_83 {
  width: 827px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 20px;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v23_106 {
  width: 300px;
  height: 323px;
  background: url("../images/v23_106.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 4px;
  overflow: hidden;
}
.v19_74 {
  width: 100%;
  height: 540px;
  background: url("../images/v19_74.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 10px 10px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 101px;
  left: 0px;
  overflow: hidden;
}
.v19_76 {
  width: 474px;
  height: 539px;
  background: url("../images/v19_76.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
  overflow: hidden;
}
.v19_77 {
  width: 901px;
  height: 539px;
  background: url("../images/v19_77.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 474px;
  overflow: hidden;
}
.v16_59 {
  width: 250px;
  height: 45px;
  background: url("../images/v16_59.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 14px 47px;
  opacity: 1;
  position: absolute;
  top: 397px;
  left: 325px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  overflow: hidden;
}
.v16_62 {
  width: 155px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 14px;
  left: 47px;
  font-family: Playfair Display;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v21_92 {
  width: 502px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 241px;
  left: 199px;
  font-family: Playfair Display;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v19_81 {
  width: 333px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 161px;
  left: 284px;
  font-family: Playfair Display;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: center;
}
.v19_79 {
  width: 473px;
  height: 540px;
  background: url("../images/v19_79.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 1375px;
  overflow: hidden;
}
.v14_3 {
  width: 100%;
  height: 101px;
  background: rgba(215,239,245,1);
  margin: 10px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v22_94 {
  width: 300px;
  height: 101px;
  background: url("../images/v22_94.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v14_4 {
  width: 100%;
  height: 101px;
  background: url("../images/v14_4.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 310px;
  overflow: hidden;
}
.v22_98 {
  width: 112px;
  height: 101px;
  background: url("../images/v22_98.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v16_33 {
  width: 115px;
  height: 107px;
  background: url("../images/v16_33.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 3px;
  overflow: hidden;
}
.v22_100 {
  width: 383px;
  height: 101px;
  background: url("../images/v22_100.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 112px;
  overflow: hidden;
}
.v22_102 {
  width: 821px;
  height: 101px;
  background: url("../images/v22_102.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 417px;
  overflow: hidden;
}
.v14_13 {
  width: 418px;
  height: 101px;
  background: url("../images/v14_13.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 403px;
  overflow: hidden;
}
.v14_29 {
  width: 95px;
  height: 101px;
  background: url("../images/v14_29.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 35px 20px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 48px;
  overflow: hidden;
}
.v14_30 {
  width: 54px;
  height: 21px;
  background: url("../images/v14_30.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 35px;
  left: 20px;
  overflow: hidden;
}
.v14_31 {
  width: 120px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 33px;
  font-family: Playfair Display;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v18_70 {
  width: 227px;
  height: 101px;
  background: url("../images/v18_70.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 35px 20px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 143px;
  overflow: hidden;
}
.v18_71 {
  width: 207px;
  height: 21px;
  background: url("../images/v18_71.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 35px;
  left: 20px;
  overflow: hidden;
}
.v18_72 {
  width: 210px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 2px;
  font-family: Playfair Display;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v22_96 {
  width: 300px;
  height: 101px;
  background: url("../images/v22_96.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1548px;
  overflow: hidden;
}
